IP=127.0.0.2
PUERTO=5003
CLAVE=HolaSoyUnValor
PID=1
CANT_TRIPULANTES=4
TAREA_1_COMPLETA=SALTAR;0;0;3-
TAREA_2_COMPLETA=CORRER 1;3;2;5-
TAREA_3_COMPLETA=TOMAR 7;4;4;7-
POS=1|1;2|2;3|3;4|4
PID_OTRA=2
CANT_TRIPULANTES_OTRA=1
TAREA_1_COMPLETA_OTRA=SALTAR 3;0;0;3-
TAREA_2_COMPLETA_OTRA=CAMINAR 1;3;2;5-
TAREA_3_COMPLETA_OTRA=VOLAR 7;4;4;7-
POS_OTRA=1|5
TID=1
ESTADO=X
PID_EXP=1
TID_EXP_1=1
TID_EXP_2=2
TID_EXP_3=3
TID_EXP_4=4
TID_EXP_5=5
NUEVA_POS_X=7
NUEVA_POS_Y=7
PID_TERCERA=3
CANT_TRIPULANTES_TERCERA=2
TAREA_1_COMPLETA_TERCERA=SALTAR 3;0;0;3-
TAREA_2_COMPLETA_TERCERA=CAMINAR 1;3;2;5-
TAREA_3_COMPLETA_TERCERA=VOLAR 7;4;4;7-
POS_TERCERA=2|1
PID_PAGINACION_1=1
CANT_TRIPULANTES_PAG_1=1
TAREA_1_COMPLETA_PAG_1=A00;1;1;5-
TAREA_2_COMPLETA_PAG_1=A01;1;1;5-
TAREA_3_COMPLETA_PAG_1=A02;1;1;5-
POS_PAG_1=1|1
PID_PAGINACION_2=2
CANT_TRIPULANTES_PAG_2=1
TAREA_1_COMPLETA_PAG_2=A00;1;1;5-
TAREA_2_COMPLETA_PAG_2=A01;1;1;5-
TAREA_3_COMPLETA_PAG_2=A02;1;1;5-
POS_PAG_2=1|1
PID_PAGINACION_3=3
CANT_TRIPULANTES_PAG_3=1
TAREA_1_COMPLETA_PAG_3=A00;1;1;5-
TAREA_2_COMPLETA_PAG_3=A01;1;1;5-
TAREA_3_COMPLETA_PAG_3=A02;1;1;5-
TAREA_4_COMPLETA_PAG_3=A03;1;1;5-
TAREA_5_COMPLETA_PAG_3=A04;1;1;5-
TAREA_6_COMPLETA_PAG_3=A05;1;1;5-
TAREA_7_COMPLETA_PAG_3=A06;1;1;5-
TAREA_8_COMPLETA_PAG_3=A07;1;1;5-
TAREA_9_COMPLETA_PAG_3=A08;1;1;5-
POS_PAG_3=1|1
PID_PAGINACION_1=1
PID_SEGMENTACION_1=1
CANT_TRIPULANTES_SEG_1=4
TAREA_1_COMPLETA_SEG_1=A00;1;1;5-
TAREA_2_COMPLETA_SEG_1=A01;1;1;5-
TAREA_3_COMPLETA_SEG_1=A02;1;1;5-
TAREA_4_COMPLETA_SEG_1=A03;1;1;5-
TAREA_5_COMPLETA_SEG_1=A04;1;1;5-
TAREA_6_COMPLETA_SEG_1=A05;1;1;5-
TAREA_7_COMPLETA_SEG_1=A06;1;1;5-
TAREA_8_COMPLETA_SEG_1=A07;1;1;5-
TAREA_9_COMPLETA_SEG_1=A08;1;1;5-
TAREA_10_COMPLETA_SEG_1=A09;1;1;5-
POS_SEG_1=1|1;3|3;1|6
PID_SEGMENTACION_3=3
CANT_TRIPULANTES_SEG_3=1
TAREA_1_COMPLETA_SEG_3=C00;1;1;1-
POS_SEG_3=1|2
PID_SEGMENTACION_2=2
CANT_TRIPULANTES_SEG_2=2
TAREA_1_COMPLETA_SEG_2=B00;3;3;5-
TAREA_2_COMPLETA_SEG_2=B01;3;3;5-
TAREA_3_COMPLETA_SEG_2=B02;3;3;5-
POS_SEG_2=1|4;3|8
NUEVA_POS_X_1=1
NUEVA_POS_Y_1=2
NUEVA_POS_X_2=1
NUEVA_POS_Y_2=3
NUEVA_POS_X_3=2
NUEVA_POS_Y_3=3
NUEVA_POS_X_4=2
NUEVA_POS_Y_4=4