IP=127.0.0.2
PUERTO=5002
CLAVE=HolaSoyUnValor
PID=1
CANT_TRIPULANTES=4
TAREA_1_COMPLETA=SALTAR;0;0;3-
TAREA_2_COMPLETA=CORRER 1;3;2;5-
TAREA_3_COMPLETA=TOMAR 7;4;4;7-
POS=1|1;2|2;3|3;4|4
PID_OTRA=2
CANT_TRIPULANTES_OTRA=1
TAREA_1_COMPLETA_OTRA=SALTAR 3;0;0;3-
TAREA_2_COMPLETA_OTRA=CAMINAR 1;3;2;5-
TAREA_3_COMPLETA_OTRA=VOLAR 7;4;4;7-
POS_OTRA=1|5
TID=1
ESTADO=X
PID_EXP=1
TID_EXP_1=1
TID_EXP_2=2
TID_EXP_3=3
TID_EXP_5=5
NUEVA_POS_X=7
NUEVA_POS_Y=7
PID_TERCERA=3
CANT_TRIPULANTES_TERCERA=2
TAREA_1_COMPLETA_TERCERA=SALTAR 3;0;0;3-
TAREA_2_COMPLETA_TERCERA=CAMINAR 1;3;2;5-
TAREA_3_COMPLETA_TERCERA=VOLAR 7;4;4;7-
POS_TERCERA=2|1
